<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../feed.css" />
		<script>
			var deactivate = function (source, itemid) {
				fetch('deactivate/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json; charset=UTF-8',
					},
					body: JSON.stringify({source: source, itemid: itemid}),
				})
				.then(response => response.json())
				.then(function (data) {
					if (!data.active) {
						document.getElementById(source + "-" + itemid)
							.classList.add("strikethru")
					}
				});
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			{% if items %}
			{% for item in items %}
			<div class="readable-item" id="{{item.source}}-{{item.id}}">
				{% if item.id %}
				<button onclick="javascript:deactivate('{{item.source}}', '{{item.id}}')">&#10005;</button>
				{% endif %}
				{% if item.link %}
				<a class="item-link" href="{{item.link}}" target="_blank">&#8663;</a>
				{% endif %}
				{% if item.body %}
				<details>
				<summary><span class="item-title">{{item.title}}</span></summary>
				<p>{{item.body|safe}}</p>
				</details>
				{% else %}
				<span class="item-title">{{item.title}}</span><br>
				{% endif %}
				{% if item.author or item.time %}
				<span class="item-info">
					{% if item.author %}
					{{item.author}}
					{% endif %}
					{% if item.time %}
					{{item.time|datetimeformat}}
					{% endif %}
				</span><br>
				{% endif %}
				<span class="item-info" title="{{ 'Tags: {}'.format(', '.join(item.tags)) }}">
					{{item.source}}
					{% if item.id %}
					{{item.id}}
					{% endif %}
					{{item.created|datetimeformat}}
				</span>
			</div>
			{% endfor %}
			{% else %}
			<div class="readable-item">
				<span class="item-title">Feed is empty</span>
			</div>
			{% endif %}
		</div>
	</body>
</html>
